name: Repository Dispatch Ci-2 on Go Sum changes

on:
    push:
        branches: [main]
        paths:
            - "go.sum"
    pull_request:
        branches: [main]
        paths:
            - "go.sum"
permissions:
    contents: read

jobs:
    dispatch-ci2:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: trigger ci-2 build
              env:
                  CI2_PAT: ${{ secrets.CI2_PAT }}
              run: |
                  if [ -z "${CI2_PAT}" ]; then
                    echo "missing access token"; exit 1
                  fi
                  curl -X post \
                      -H "Accept: application/vnd.github+json" \
                      -H "Authorization: Bearer ${CI2_PAT}" \
                      https://api.github.com/repos/Nameless-86/ci-2/dispatches \
                      -d '{"event_type": "go_sum_changed-at-ci-1", "client_payload":{}}'
